#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.dashboard-content {
  padding: 30px;
}

.dashboard-content h1 {
  font-size: 28px;
  margin-bottom: 10px;
}

.dashboard-content p {
  color: #6b7280;
}