.card-container{
  background-color: #f7f8fa;
  margin: 40px auto;
  width: 50%;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.form-group {
  display: flex;
  flex-direction: column;
  padding: 8px;
  margin-bottom: 18px;
}


.form-control {
  height: 40px;
   color: #000;
}

.form-group label {
  text-align: start;
  margin-bottom: 5px;
}


.form-group input {
  width: 100%;
  height: 40px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: rgb(255, 255, 255);
  color: #000;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: brightness(0);
}


