.timeline-container{
  display:flex;
  align-items:center;
  justify-content:center;
  gap:8px;
  margin-bottom:20px;
}

.timeline-step{
  display:flex;
  align-items:center;
}

.timeline-icon{
  margin-right:5px;
  font-size:10px;
}

.timeline-text{
  margin-right:8px;
  font-size:14px;
}

.timeline-line{
  margin:0 6px;
  color:#aaa;
}